<div class="details-container">
  <button [routerLink]="['/']" class="btn-back">← Back to Portal</button>

  @if (characterState$ | async; as character) { @if (character.loading) {
  <div class="detail-card">
    <h1>Loading character...</h1>
  </div>
  } @if (character.error) {
  <div class="detail card">
    <h1>{{ character.error }}</h1>
  </div>
  } @if (character.data) {
  <div class="detail-card">
    <div class="detail-hero">
      <img [src]="character.data.image" [alt]="character.data.name" />
      <div class="hero-text">
        <h1>{{ character.data.name }} Name</h1>
        <p class="badge">{{ character.data.location.name }}</p>
      </div>
    </div>

    <div class="detail-content">
      <div class="info-grid">
        <div class="info-item">
          <span>Status:</span>
          <p>{{ character.data.status }}</p>
        </div>
        <div class="info-item">
          <span>Species:</span>
          <p>{{ character.data.species }}</p>
        </div>
        <div class="info-item">
          <span>Gender:</span>
          <p>{{ character.data.gender }}</p>
        </div>
        <div class="info-item">
          <span>Location:</span>
          <p>{{ character.data.name }}</p>
        </div>
      </div>
    </div>
  </div>
  } }
</div>
