.card {
  background: var(--card-bg);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px var(--portal-green);
}
.card-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}
.status-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.alive {
  background: var(--portal-green);
}
.text-gray {
  color: var(--text-gray);
  font-size: 0.9rem;
}

.btn-primary {
  background: var(--rick-blue);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
