<header class="main-header">
  <div class="header-container">
    <a [routerLink]="['/']">
      <div class="brand">
        <img src="pngegg.png" alt="Rick and Morty Logo" class="header-logo" />
        <span class="app-title">Parallel <span class="highlight">Files</span></span>
      </div>
    </a>

    <nav class="nav-links">
      <a routerLink="/characters" routerLinkActive="active" class="nav-item">
        <span class="icon">🛸</span> Characters
      </a>
      <a routerLink="/generator" routerLinkActive="active" class="nav-item">
        <span class="icon">🧪</span> Generator
      </a>
    </nav>
  </div>
</header>
