.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.btn-nav {
  background: var(--portal-green);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
