:root {
  --bg-color: #272b33;
  --card-bg: #3c3e44;
  --text-white: #f5f5f5;
  --text-gray: #9e9e9e;
  --portal-green: #97ce4c;
  --rick-blue: #00b0c8;
  --dead-red: #d63d2e;
}

body {
  background-color: var(--bg-color);
  font-family: sans-serif;
  color: var(--text-white);
}
